@model Flags.Models.Quiz
@{
    
}

<p class="h2">Results for @Model.Name</p>

<p>
    @Html.ActionLink("Return to front page", "Index")
</p>

<script>
    const params = new URLSearchParams(document.location.search);
    const corrects = params.get("correct");

</script>